[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=WiFiKilL3r
Exec=WiFiKilL3r
Name=WiFiKilL3r
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[nl]=WiFiKilL3r
Name[sv]=WiFiKilL3r
